* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

body {
    background-image: url('../img/Battleship2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#content h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 2em;
    text-shadow: 6px 6px 6px black;
}

#gameStatus {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 1em;
    text-shadow: 6px 6px 6px black;
    animation: flash 2.5s infinite;
}

#closeButton {
    width: 10%;
    height: 60%;
    z-index: 100;
}

.closeButton button {
    width: 100%;
    height: 100%;
    background: #101214;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 0.6em;
    letter-spacing: 3px;
    box-shadow: 1px 1px 1px black;
    border-width: 1.5px;
}

.closeButton button:focus{
	outline: 0px;
}

#player1, #player2 {
text-align: center;
}

#player1 h3, #player2 h3 {
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-shadow: 6px 6px 6px black;
    margin-top: 0px;
}

#winner,
#loser {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#loser h2 {
    transition: 2s all;
    color: black;
    font-weight: 900;
    text-shadow: 2px 2px 2px #202020;
}

#winner h2 {
    transition: 2s all;
    color: black;
    font-weight: 900;
    text-shadow: 2px 2px 2px #202020;
}

.youlose {
    transition: 2s all;
    transform: scale(5);
}

#puny {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    overflow: hidden;
}

.imagepuny {
    transition: 3s all;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black);
    transform: scale(0) rotate(360deg);
}

.losepuny {
    transition: 3s all;
    width: auto;
    height: auto;
    transform: scale(1) rotate(0deg)
}

#victory {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    overflow: hidden;
}

.imagevictory {
    transition: 3s all;
    -webkit-filter: drop-shadow(10px 10px 10px black);
    filter: drop-shadow(10px 10px 10px black);
    transform: scale(0);
}

.winvictory {
    transition: 3s all;
    width: auto;
    height: auto;
    transform: scale(.6);
}

#tables {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 0px;
}

#board,
#board2 {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #181818;
}

#board3 {
    padding: 0px;
    margin: 0 auto;
    border: none;
}

#board tr td,
#board2 tr td {
    width: 50px;
    height: 50px;
    border: 2px solid #181818;
    position: relative;
    text-align: center;
    background: rgba(155, 154, 154, 0.8);
    color: #191c1e;
    font-family: 'Roboto', sans-serif;
}

.carrier {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 10px;
}

.carrier.rotated {
    width: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 50px;
}

.battleship {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.battleship.rotated {
    width: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.submarine {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.submarine.rotated {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.destroyer {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 10px;
}

.destroyer.rotated {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.patrolBoat {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.patrolBoat.rotated {
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#saveButton {
    width: 50%;
    height: 5%;
}

.saveButton button {
    width: 100%;
    height: 100%;
    background: #101214;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    font-size: 0.6em;
    letter-spacing: 3px;
    box-shadow: 1px 1px 1px black;
    border-width: 1.5px;
}

.saveButton button:focus {
    outline: 0px;
}

#table3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.theship {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.theship div {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: #d9d3d3;
    margin: auto;
    box-shadow: 3px 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.roundShip img {
    width: 40%;
    height: 40%;
}

#board3 tr td {
    width: 50px;
    height: 50px;
    position: relative;
}

#board tr td h3,
#board2 tr td h3 {
    margin: 0px;
    font-size: 1.4em;
}

#tHead tr th h3,
#tHead2 tr th h3 {
    margin: 0px;
    font-size: 1.4em;
}

#tHead tr th,
#tHead2 tr th {
    width: 50px;
    height: 50px;
    border: 2px solid #181818;
    background: rgba(0, 0, 0, 0.6);
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#tHead tr:nth-child(1) th:nth-child(1),
#tHead2 tr:nth-child(1) th:nth-child(1) {
    border-top: none;
    border-left: none;
    background: none;
}

#board tr:nth-child(2n) td:nth-child(2n + 2),
#board2 tr:nth-child(2n) td:nth-child(2n + 2) {
    background: rgba(25, 28, 30, 0.8);
    color: #191c1e;
    font-family: 'Roboto', sans-serif;
}

#board tr:nth-child(2n) td:nth-child(2n + 2):hover {
    background: rgba(0, 0, 0, 1);
}

#board2 tr:nth-child(2n) td:nth-child(2n + 2):hover {
    background-image: url(../img/disparo.gif);
    background-size: 100% 100%;
}

#board tr:nth-child(2n + 1) td:nth-child(2n + 3),
#board2 tr:nth-child(2n + 1) td:nth-child(2n + 3) {
    background: rgba(25, 28, 30, 0.8);
    color: #191c1e;
    font-family: 'Roboto', sans-serif;
}

#board tr:nth-child(2n + 1) td:nth-child(2n + 3):hover {
    background: rgba(0, 0, 0, 1);
}

#board2 tr:nth-child(2n + 1) td:nth-child(2n + 3):hover {
    background-image: url(../img/disparo.gif);
    background-size: 100% 100%;
}

#board tr td:hover {
    background: rgba(0, 0, 0, 1);
}

#board2 tr td:hover {
    background-image: url(../img/disparo.gif);
    background-size: 100% 100%;
}

#board tr:nth-child(1n) td:nth-child(1),
#board2 tr:nth-child(1n) td:nth-child(1) {
    border: 2px solid #181818;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
}

.ship {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: #d9d3d3;
    margin: auto;
    box-shadow: 2px 2px 2px black;
}

.opponentShip {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    box-shadow: 2px 2px 2px #555;
}

.opponentsunkShip {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: darkred;
    margin: auto;
    box-shadow: 2px 2px 2px black;
}

.salvo {
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

.explosion {
    height: 100%;
    width: 100%;
    margin: auto;
}

.turn {
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn h4 {
    font-size: 1em;
    font-weight: bolder;
}

.shot {
    height: 100%;
    width: 100%;
}

.theShot {
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
    height: 5%;
}

#loginHeader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

#logoutBtn {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 100;
}

#logoutImg {
    height: 6%;
    width: 6%;
}

#userOn {
    margin: 0%;
    padding-left: 4%;
    color: #d9d3d3;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-shadow: 6px 6px 6px black;
}

#table4 {
    width: 555.2px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#shotButton {
    width: 150px;
    height: 150px;
}

.shotButton button {
    width: 100%;
    height: 100%;
    background: darkred;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 50%;
    font-size: 2.5em;
    letter-spacing: 3px;
    box-shadow: 1px 1px 1px black;
    border-width: 1.5px;
}

.shotButton button:focus {
    outline: 0px;
}
